.alt {
        background: #E8E8E8;

}

.body-content {    
    margin-left: 100px;
    background: #f5f5f5;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 11px;
}

.btn {
    background: #333;
    border: none;
    color: #FFF;
    padding: 4px;
    margin: 5px;
    width: 200px;   
}

.btn:hover {
    background: #CCC;
    color: #333;
}

.calc-highlight-green {
    background-color:darkgreen;
    color: white;
}

.center-column {
    text-align: center;
}

.confirmation-address {
    font-weight: bold;
    font-size: 13px;
}

.confirmation-value {
    color: #a83333;
    font-weight: bold;
    font-size: 13px;
}

.content-panel {
    background: #ffffff;
    margin: 10px 10px 10px 10px;
}

.debug-alt-column {
    background-color: darkgray;
    color: black;
}
.debug-title {
    background-color: burlywood;
    font-size: 26px;
    font-weight: 900;
    color: darkgreen;
}

.debug-column {
    background-color: azure;
    color: black;
}

.debug-column-header {
    background-color:bisque;
}

.form-label {
    font-weight: bold;
    width: 200px;
    text-align: right;
}
.form-group{
    margin: 3px 3px 3px 3px;
}

.internalTable {
    padding: 0;
    margin: 0 auto;
}

.label {
    font-weight: bold;
    padding: 4px 10px;    
}

.links {
    padding: 5px;
    vertical-align: top;
    line-height: 1.3em;
}

.shipGrid {
    width: 100%;
    background-color: #FFF;
    margin: 5px 0 10px 0;
}

.shipGrid th {
    background-color: #424242;
    color: #FFF;
    padding: 5px;
    text-align: left;
}

.shipTo {
    padding: 20px 0 5px 0;
    color: #0063A5;
    font-weight: bold;
    text-align:center;
}

a {
    color: #A83333;
    text-decoration: none;
    font-size: 11px;
}