@{

}
<div class="container shadow min-vh-100 py-2 content-panel">
    <div class="row">
        <div class="col">
            <div class="content-panel">
                <main>
                    <div class="row d-flex">
                        <a class="links text-end">? Help</a>
                    </div>
                    <div class="row">
                        <center>
                            <img src="/Content/img/wiseLogo.jpg" />
                        </center>
                    </div>
                    <div class="row">
                        <center>
                            <p>Please select a Plant to use as the "Ship From" location.</p>
                        </center>
                    </div>
                    <div class="row">
                        @{
                            foreach (AuthenticationServer.Models.Plant plant in ViewBag.Plants)
                            {
                                <div class="col-4">
                                    <a href="@Url.Action("RedirectToPlant", "Home", new { loc = plant.Id})" class="btn btn-primary btn-main">@plant.Name (@plant.Id)</a>
                                </div>
                                    
                             }
                          }
                     </div>
                    
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-auto">
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="alert alert-info text-center" role="alert">
                                Send all queries or problem you may encounter to <a href="mailto:helpdesk@wbf.com">helpdesk@wbf.com</a>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

<script>
    const originalXml = "<?xml version=\"1.0\" ?>< quote ><requestedMode>LTL</requestedMode><requestedPickupDate>2024-12-12</requestedPickupDate><shipper><city>Fort Wayne</city><region>IN</region><country>US</country><postalCode>46818</postalCode></shipper><consignee><city>CORAOPOLIS</city><region>PA</region><country>US</country><postalCode>15108-4212</postalCode></consignee><lineItems><lineItem><freightClass>55</freightClass><weight>160</weight><weightUnit>LB</weightUnit></lineItem></lineItems></quote > ";
    const escapedXml = originalXml
        .replace(/&/g, "&amp;")
        .replace(/</g, "&lt;")
        .replace(/>/g, "&gt;");
        
    document.getElementById("xmlRequest").textContent = "<pre>" + escapedXml + "</pre>";
    document.getElementById('hideXML').addEventListener('click', function () {
        const content = document.getElementById('XML-DATA');
        content.classList.add('hidden'); // Add the 'hidden' class to hide the element
    });
    </script>