@{

}
<div class="container shadow min-vh-100 py-2 content-panel">
    <div class="row">
        <div class="col">
            <div class="content-panel">
                <main>
                    <div class="row d-flex">
                        <a class="links text-end">? Help</a>
                    </div>
                    <div class="row">
                        <center>
                            <img src="/Content/img/wiseLogo.jpg" />
                        </center>
                    </div>
                    <div class="row">
                        <center>
                            <p>Please select a Plant to use as the "Ship From" location.</p>
                        </center>
                    </div>
                    <div class="row">
                        @{
                            foreach (AuthenticationServer.Models.Plant plant in ViewBag.Plants)
                            {
                                <div class="col-4">
                                    <a href="@Url.Action("RedirectToPlant", "Home", new { loc = plant.Id})" class="btn btn-primary btn-main">@plant.Name (@plant.Id)</a>
                                </div>
                                    
                             }
                          }
                     </div>
                    
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-auto">
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="alert alert-info text-center" role="alert">
                                Send all queries or problem you may encounter to <a href="mailto:helpdesk@wbf.com">helpdesk@wbf.com</a>
                                <br />
                                For next couple of weeks as we work out any issues we will be including the change log below.
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div>
                        <!--
                        <h6>Change Log</h6>
                        <div class="table">
                            8/8/2024
                            <ul>
                                <li>Centered shipment form.</li>
                                <li>Default zeros now disappear when entering field.</li>
                                <li>Added <b>ShipFrom</b> information to confirmation page.</li>
                            </ul>

                            8/12/2024
                            <ul>
                                <li>Fixed calculation when shipping a single package with ground freight.</li>
                                <li>Feight Class now shows up and hides approprietly.</li>
                                <li>Country now defaults to the US.</li>
                                <li>States have been abbreviated.</li>
                                <li>Shipment confirmation now shows more detail including address classification if found.</li>
                            </ul>

                            8/19/2024
                            <ul>
                                <li>Rate without street address.</li>
                                <li>Alpharetta (ALP) now requires account information.</li>
                                <li>Rate page now shows accessorial information.</li>
                                <li>Address correction now works.</li>
                            </ul>

                            9/12/2024
                            <ul>
                                <li>Corrected long term issue correcting CWT rates.</li>
                                <li>Fixed an issue when changing weight vallues.</li>
                            </ul>
                        </div>
                         -->
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>